@font-face {
    font-family: 'Regular-Raleway';
    src: url("Fonts/Raleway-Regular.eot") format('eot'),
    url("Fonts/Raleway-Regular.ttf") format('ttf'),
    url("Fonts/Raleway-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Delagothicone';
    src: url("Fonts/DelaGothicOne-Regular.eot") format('eot'),
    url("Fonts/DelaGothicOne-Regular.ttf") format('ttf'),
    url("Fonts/DelaGothicOne-Regular.woff") format('woff'),
    url("Fonts/DelaGothicOne-Regular.woff2") format('woff2');
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

nav{
    position: relative;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    list-style: none;
    position: relative;
}

.mobile_menu{
    display: none;
}

.header_burger{
    display: none;
}

.header_left{
    display: flex;
    gap: 20px;
}

.header_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.search_buy{
    display: flex;
    gap: 10px;
}

.catalog_text{
    color: var(--red, #DA1F39);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.header_menu-item1{
    color: var(--black, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_menu-item_middle{
    max-width: 184px;
}

.header_menu-item_ua{
    color: var(--black, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_menu-item_currency{
    font-size: 22px;
}

select{
    border: none;
}

.header_arrow1{
    width: 48px;
}

.hryvnia_icon{
    width: 22px;

}

.header_arrow2{
    width: 8px;
}

.header_phone_number{
    color: var(--black, #000);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



.header_search_icon{

}

.header_cart_icon{

}

.mobile_body{
    display: none;
}

.section{
    width: 1440px;
    padding-left: 79px;
}

.section_img{
    width: 25px;
    height: 0.7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.section .section_text_gray{
    color: gray;
}

.section a{
    color: var(--black, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.4%;
    text-decoration: none;
}


.container_grid{
    display: grid;
    grid-template-columns: 340px 550px 550px;
    grid-template-rows: 670px 630px 600px;
}

.mobile_container_grid{
    display: none;
}

label{
    display: block;
}

.size{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.4%;
}

.input-wrapper{
    display: flex;
    align-items: center;
}

.grid_content_left_top{
    color: #565656;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%;
    padding-left: 79px;
    padding-top: 71px;
    
}

.size{
    padding-top: 10px;
}

.grid_layout{
    width: 14px;
    padding-top: 15px;
}

.flex{
    padding-bottom: 20px;
}

.wb_sweater{
    width: 497px;
    padding: 10px;
}

.center_top_text{
    display: inline-block;
    padding-top: 50px;
    color: #565656;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%;
}

.center_top_text2{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Regular-Raleway";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%;
}

.title_text{
    display: inline-block;
    color: #000;
    font-family: "Delagothicone";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.3%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.blue_sweater_img{
    padding-top: 45px;
    width: 507px;
    height: 500px;
}

.description_text{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%;
    height: 23px;
}

.price{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%;
}

.show_more{
    color: #000;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 400px;
    padding-top: 64px;
    padding-bottom: 140px;
}

.show_more_img{
    padding-left: 5px;
    width: 18px;
    height: 18px;
}

.one{
    color: #B0B0B0;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%;
    padding-left: 292px;
}

.next{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%;
    padding-left: 9px;
}

.mobile_footer_grid{
    display: none;
}

.mobile_footer_logo{
    display: none;
}

.mobile2_footer_grid{
    display: none;
}

.mobile_show_more{
    display: none;
}

.footer_container{
    width: 1510px;
    height: 354px;
    background-image: url(icons_images/footer_background.png);
}

.footer_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-items: center;
}

.footer_logo{
    padding-left: 660px;
    padding-top: 70px;
}

.footer_grid{
    display: grid;
    grid-template-columns: 129px 442px 470px 250px;
    grid-template-rows: 37px 37px 37px 64px;
    padding-left: 80px;
    padding-top: 30px;
    color: var(--black, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; 
}


.logo{
    padding-left: 12px;
    padding-top: 6px;
}

.drabyna{
    color: var(--red, #DA1F39);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Regular-Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%;
    padding-top: 25px;
}

.etnodim{
    padding-top: 25px;
}




@media screen and (max-width:385px) {
    .header_menu{
        padding: 25px 0;
    }

    .header_left{
        display: none;
    }

    .header_menu-item_middle{
        max-width: 95px;
    }

    #language, #currency, .header_phone_number{
        display: none;
    }

    .container_grid{
        display: none;
    }

    .header_burger{
        width: 20px;
        height: 10px;
        display: inline-block;
        background-image: url("icons_images/burger.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        outline: none;
    }

    .mobile_menu{
        max-width: 90%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: white;
        display: none;
        padding: 20px;
        filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25)) drop-shadow(6px 6px 8px rgba(71, 71, 71, 0.25));
    }

    .close_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
        padding: 20px 0px;
    }

    .middle_menu{
        display: flex;
        flex-direction: column;
        font-family: "Delagothicone";
    }

    .catalog_menu_text{
        color: var(--red, #DA1F39);
        font-family: "Delagothicone";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0px;
    }

    .arrow{
        background-image: url("icons_images/scroll_down.png");
        width: 20px;
        height: 10px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 20px;
    }

    .middle_menu_text{
        color: var(--black, #000);
        font-family: "Delagothicone";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0px;

    }

    .bottom_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .language_side{
        color: var(--black, #000);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Regular-Raleway";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 30px 0px;
    }

    .currency_side{
        font-size: 17px;
        height: 22px;
        padding: 0 25px;
    }

    .visible {
        display: block;
    }

    .grid_content_left_top{
        display: none;
    }

    .title_text{
        display: none;
    }

    .section{
        display: none;
    }

    .flex{
        display: none;
    }

    .mobile_body{
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 50px 50px;
        padding: 0 10px;
    }

    .mobile_grid_top{
        color: #000;
        font-family: "Delagothicone";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140.3%;
        text-transform: uppercase;
        font-weight: bold;
        text-align: right;
    }

    .filter{
        color: var(--black, #000);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Regular-Raleway";
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%;
        text-align: left;
    }

    .mobile_grid_bottom_text{
        color: var(--black, #000);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Regular-Raleway";
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%;
        padding-left: 150px;
    }
    
    .mobile_container_grid{
        display: grid;
        max-width: 360px;
        margin: 0 auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px 300px 300px;
        justify-content: center;
    }


    .mobile_wb_sweater{
        width: 160px;
        height: 200px;
    }

    .mobile_description_text{
        color: #000;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Regular-Raleway";
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%;
    }

    .price{
        color: #000;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Regular-Raleway";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%;
    }

    .mobile_blue_sweater_img{
        width: 180px;
        height: 200px;
    }

    .mobile_red_sweater{
        width: 160px;
        height: 200px;
    }

    .mobile_brown_sweater{
        width: 180px;
        height: 200px;
    }

    .mobile_black_sweater{
        width: 160px;
        height: 200px;
    }

    .mobile_white_sweater{
        width: 180px;
        height: 200px;
    }

    .mobile_show_more{
        display: flex;
        padding-left: 65px;
        align-items: center;
        color: #000;
        font-family: "Regular-Raleway";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .mobile_show_more_img{
        padding-left: 5px;
    }

    .show_more{
        display: none;
    }

    .footer_container{
        display: none;
    }

    .mobile_footer_container{
        max-width: 375px;
        height: 470px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(icons_images/footer_background.png);
    }

    .logos{
        padding-left: 10px;
    }

    .mobile_footer_logo{
        width: 240px;
        padding-top: 60px;
        padding-left: 90px;
    }

    .mobile_footer_grid{
        display: grid;
        grid-template-columns: 90px 130px 130px;
        grid-template-rows: 30px 30px 30px 30px;
        color: var(--black, #000);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: 'Regular-Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; 
        padding-top: 100px;
        padding-left: 14px;
    }

    .mobile_drabyna{
        color: var(--red, #DA1F39);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: 'Regular-Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%;
        padding-top: 10px;
    }

    .mobile2_footer_grid{
        display: grid;
        grid-template-rows: 30px 30px 30px 30px;
        color: var(--black, #000);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: 'Regular-Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; 
        padding-left: 14px;
        padding-top: 15px;

    }

    .mobile_etnodim{
        padding-top: 15px;
    }

    



}